html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  
  .info{
    font-family: sans-serif;
    position:absolute;
    top:890px;
    left:50px;
    color:#aaa;
    font-size: 16px;
  }
  .input_video{
    position:absolute;
    left:0px;
    top:0px;
  }
  
  #vidEl{

  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
  /*Mirror code ends*/
  }
